@model List<ResumeProject.Entities.Skill>

@{
    var skills = Model ?? new List<ResumeProject.Entities.Skill>();
    var leftSkills = skills.Where((x, i) => i % 2 == 0).ToList();
    var rightSkills = skills.Where((x, i) => i % 2 == 1).ToList();
}


<section id="skills" class="bg-light">
	<div class="container">
		<div class="row mb-8">
			<div class="col-lg-10 col-xl-8 mx-lg-auto text-center">
				<div class="section-title h2 mb-3">
					<h2 class="mb-0">Yeteneklerim & Teknolojiler</h2>
					<span class="title-letter">Y</span>
				</div>
				<p>@ViewBag.SkillDescription</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 mb-4 mb-md-0">
				@foreach (var item in leftSkills)
				{
					<p class="h6 mb-1">@item.SkillName</p>
					<div class="progress mb-6 rounded-0" style="height:5px">
						<div class="progress-bar" role="progressbar" style="width: @item.SkillLevel%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				}
			</div>
			<div class="col-md-6">
				@foreach (var item in rightSkills)
				{
					<p class="h6 mb-1">@item.SkillName</p>
					<div class="progress mb-6 rounded-0" style="height:5px">
						<div class="progress-bar" role="progressbar" style="width: @item.SkillLevel%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				}
			</div>
		</div>
	</div>
</section>